{% extends 'base.html.twig' %}

{% block title %}Modifier la Stack{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Modifier la Stack "{{ stack }}"</h1>
        <div class="d-flex gap-3">
            {{ include('stack/_delete_form.html.twig') }}
            <a class="btn btn-secondary" href="{{ path('app_stack_index') }}">Retour à la liste des stacks</a>
        </div>
    </div>

    {{ include('stack/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
