{% extends 'base.html.twig' %}

{% block title %}Nouvelle Stack{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Nouvelle Stack</h1>
        <a class="btn btn-secondary" href="{{ path('app_stack_index') }}">Retour à la liste des stacks</a>
    </div>

    {{ include('stack/_form.html.twig') }}
{% endblock %}
