{% extends 'base.html.twig' %}

{% block title %}Nouvel objectif{% endblock %}

{% block body %}
    <h1>Nouvel objectif</h1>

    {{ include('goal/_form.html.twig') }}

    <a href="{{ path('app_goal_index') }}">Retour à la liste des objectifs</a>
{% endblock %}
